/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
  font-family: cursive;
  color: #3e2723;
}
/* Body */
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    line-height: 1.6;
    font-size:large;
  

}

/* Header */
.header {
   
     color: #3e2723;
    text-align: center;
    padding: 40px 20px;

    font-size:50px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family:cursive;
  }

/* Navigation */
.navbar {
    display: flex;
    justify-content:flex-end;
    gap: 50px;
    /* background-color: #848180; */
    margin-top: 30px;
}

.navbar a {
    color: #080808;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 30px;
    border-radius: 15px;


}



/* Sections */
.section {
    padding: 30px 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 6px;
}

.light-bg {

    background-color: #efebe9;
    display: flex;
    gap:30px;
}
.about1 img{
    border-radius: 500px;

}
.about2{
    margin-top: 150px;
}

/* Menu Cards */
.menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    width: 30%;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card img{
    border-radius: 20px;
}

/* Footer */
.footer {
    background-color: #3e2723;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .section {
        margin: 10px;
    }
}
